<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/X (favicon).png" type="image/x-icon">

  <title>Project X</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div id="mainLoader">

    <div class="containerLoader">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <span class="textLoading">LOADING...</span>
    </div>
  </div>


  <img class="backgroundIMG" src="/images/backg.jpeg">
  <!-- Hero of the page -->
  <header>
    <div id="navbar">
      <!-- <nav> -->
      <div class="projectName">
        <h1>Project X</h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#programs">Event</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="ham-box">
        <div class="ham-top"></div>
        <div class="ham-middle"></div>
        <div class="ham-bottom"></div>
      </div>
    </div>
  </header>
  <div class="ham-bar-box">
    <div class="rightnav ham-bar-box-contant">
      <a href="#home">Home</a>

      <a href="#programs">Event</a>

      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>

      <a href="#contact">Contact</a>
    </div>
  </div>
  <section class="first__page" id="home">
    <!-- Imp heading -->
    <div class="imp-heading">
      <h1>Neo Fiesta 2023</h1>
    </div>
    <!-- CountDown Clock -->
    <p>Countdown To Launch In T-Minus</p>
    <div id="clockdiv">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
    <!-- Register Button -->
    <div class="btn">
      <button onclick="window.location.href ='/gallery';">View Photos</button>
    </div>
  </section>
  <!-- Main Section of the Page -->
  <main>
    <!-- Cheif Guest Section -->
    <h1>Chief Guest</h1>
    <div class="person">
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Dr.Sanjay Shrivastava</h3>
        <h6>Vice-Chancellor</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>

        <h3>Aaryan Raj</h3>
        <h6>Dean(CSIT)</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>

        <h3>Aaryan Raj</h3>
        <h6>Proctor(MGCUB)</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Vikas Pareek Sir</h3>
        <h6>HOD(B.Tech)</h6>
      </div>
      <div class="profile">

        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Prince Vishwakarma</h3>
        <h6>Campus Director</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Ritik Raj</h3>
        <h6>Faculty</h6>
      </div>
    </div>
    <!-- Organiser Section -->
    <h1>Check Our Organiser</h1>
    <div class="person">
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Aaryan Raj</h3>
        <h6>Technical Head</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Rohit Raj</h3>
        <h6>Head of Management</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Rohit Kumar</h3>
        <h6>Catering Management</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Riteek Raj</h3>
        <h6>Stage Management</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Ankit Raj</h3>
        <h6>DJ Wale Bhaiya</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Abhishek Kumar</h3>
        <h6>Finance Management</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Raj Kumar</h3>
        <h6>Performance Coordinator</h6>
      </div>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile1.png" alt="profile">
        </div>
        <h3>Rohit Raj</h3>
        <h6>Decoration Head</h6>
      </div>
    </div>

  </main>

  <div class="event" id="programs">



    <h3 class="heading">Event Timeline</h3>
    <div class="cont-event">
      <ul>
        <li>
          <h3 class="title">Vandana</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla quos saepe sapiente culpa nihil
            dolorum impedit, hic et soluta excepturi cupiditate iure quidem sed?</p>

          <span class="circle"></span>
          <span class="time">2-3pm</span>
        </li>
        <li>
          <h3 class="title">Drama</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla quos saepe sapiente culpa nihil
            dolorum impedit, hic et soluta excepturi cupiditate iure quidem sed?</p>

          <span class="circle"></span>
          <span class="time">3-4pm</span>
        </li>
        <li>
          <h3 class="title">Group Dance</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla quos saepe sapiente culpa nihil
            dolorum impedit, hic et soluta excepturi cupiditate iure quidem sed?</p>

          <span class="circle"></span>
          <span class="time">4-5pm</span>
        </li>
        <li>
          <h3 class="title">StandUp Comedy</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla quos saepe sapiente culpa nihil
            dolorum impedit, hic et soluta excepturi cupiditate iure quidem sed?</p>

          <span class="circle"></span>
          <span class="time">5-6pm</span>
        </li>
      </ul>
    </div>

  </div>

  <!-- Footer -->
  <section class="main-section" id="contact">
    <div class="contact-container">
      <div class="contact-card" id="left-contact">
        <h3>Get In Touch</h3>
        <p>Feel free to contact us regarding any query of freshers party.</p>
        <button onclick="window.location.href = 'mailto:prince02072006@gmail.com';">Say Hello</button>
      </div>
      <div class="contact-card" id="right-contact">
        <h3>Send Message</h3>
        <form name="submit-to-google-sheet">
          <input type="text" name="Name" placeholder="Your Name" required>
          <input type="email" name="Email" placeholder="Your Email" required>
          <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
  <!-- Script linking -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>