<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon_io/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Neo Fiesta 2K23</title>
</head>



<body>

  <div id="mainLoader">

    <div class="containerLoader">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <span class="textLoading">LOADING...</span>
    </div>
  </div>

  <img class="backgroundIMG" src="/images/backg.jpeg">
  <!-- Hero of the page -->
  <header>
    <div id="navbar">
      <!-- <nav> -->
      <div class="projectName">
        <% if (user) { %>
          <div onclick="window.location.href = '/profile'" class="avatar">
            <img src="<%= user.userDp || `/uploads/userDp/default.jpg` %>" alt="">
          </div>
          <h1>Hey<span class="wave">👋</span>, <%= user.name.split(' ')[0] %></h1>
        <% } else{ %>
          <div onclick="window.location.href = ' /profile'" class="avatar">
              <img src="/uploads/userDp/default.jpg" alt="">
      </div>
      <h1>Neo Fiesta</h1>
      <% } %>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#programs">Event</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <% if (user) { %>
            <a href="/logout">Logout</a>
            <% } else {%>
              <a href="/login">Login</a>
              <% } %>
        </li>
      </ul>
    </div>
    <div class="ham-box">
      <div class="ham-top"></div>
      <div class="ham-middle"></div>
      <div class="ham-bottom"></div>
    </div>
    </div>
  </header>
  <div class="ham-bar-box">
    <div class="rightnav ham-bar-box-contant">
      <a href="#home">Home</a>

      <a href="#programs">Event</a>

      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>

      <a href="#contact">Contact</a>
      <% if (user) { %>
        <a href="/logout">Logout</a>
        <% } else {%>
          <a href="/login">Login</a>
          <% } %>
    </div>
  </div>
  <section class="first__page" id="home">
    <!-- Imp heading -->
    <div class="imp-heading">
      <h1>Neo Fiesta 2023</h1>
    </div>
    <!-- CountDown Clock -->
    <% if (bool && bool.isWinnerOn) { %>
      <div class="VoteBtn">
        <% if (user) { %>
          <button onclick="window.location.href ='/vote/winner';">See Winner</button>
          <% } else { %>
            <button onclick="showAlert()">See Winner</button>
            <% } %>
      </div>
      <% } else if (bool && bool.isVoteOn) { %>
        <div class="VoteBtn">
          <% if (user) { %>
            <button onclick="window.location.href ='/vote';">🗳️ Vote Now</button>
            <% } else { %>
              <button onclick="showAlert()">🗳️ Vote Now </button>
              <% } %>
        </div>
        <% } else { %>
          <p>Countdown To Launch In T-Minus</p>
          <div id="clockdiv">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>

          <% } %>
            <!-- Register Button -->
            <div>
              <% if (user) { %>
                <div class="buttons">
                  <button onclick="window.location.href ='/gallery';" class="blob-btn">
                    View Photos
                    <span class="blob-btn__inner">
                      <span class="blob-btn__blobs">
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                      </span>
                    </span>
                  </button>
                  <% } else { %>
                    <div class="buttons">
                      <button onclick="showAlert()" class="blob-btn">
                        View Photos
                        <span class="blob-btn__inner">
                          <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                          </span>
                        </span>
                      </button>
                      <% } %>
                    </div>
  </section>
  <!-- Main Section of the Page -->
  <main>
    <!-- Cheif Guest Section -->
    <div class="wrapper">
      <div class="bg"> Chief Guests </div>
      <div class="fg"> Chief Guests </div>
    </div>
    <h3 class="heading"></h3>


    <div class="person">
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/VC.png" alt="profile1">
        </div>
        <h3>Dr.Sanjay Shrivastava</h3>
        <h6>Vice-Chancellor</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/dean.png" alt="profile1">
        </div>
        <h3>Prof. Ranjeet Kumar</h3>
        <h6>Dean(CSIT)</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/hod.png" alt="profile1">
        </div>
        <h3>Prof. Vikas Pareek</h3>
        <h6>HOD(B.Tech)</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/proctor.png" alt="profile1">
        </div>
        <h3>Prof. Prasoon Dutta</h3>
        <h6>Proctor(MGCUB)</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/campd.png" alt="profile1">
        </div>
        <h3>Prof. Attatrana Pal</h3>
        <h6>Campus Director</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/dc.png" alt="profile1">
        </div>
        <h3>Prof. Devdutt Chaturvedi</h3>
        <h6>Dean(Chemistry)</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/vipin.png" alt="profile1">
        </div>
        <h3>Dr. Vipin Kumar</h3>
        <h6>Assistant Professor</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/sunil.png" alt="profile1">
        </div>
        <h3>Dr. Sunil Kumar</h3>
        <h6>Assistant Professor</h6>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/shubham.png" alt="profile1">
        </div>
        <h3>Mr. Shubham Kumar</h3>
        <h6>Assistant Professor</h6>
      </div>
    </div>
    <!-- ------------------- Guest ---------------------- -->
    <div class="person" style="margin-top: 0; align-items: self-start; padding-top: 0;">

      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/arvind.png" alt="profile1">
        </div>
        <h3>Dr. Arvind Sharma</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/neelabh.png" alt="profile1">
        </div>
        <h3>Dr. Neelabh Srivastava</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/harshit.png" alt="profile1">
        </div>
        <h3>Mr. Harshit Srivastava</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/komal.png" alt="profile1">
        </div>
        <h3>Mrs. Komal Rai</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/unknown.png" alt="profile1">
        </div>
        <h3>Mrs. Akanksha Mishra</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/aparna.png" alt="profile1">
        </div>
        <h3>Mrs. Aparna Ojha</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/smriti.png" alt="profile1">
        </div>
        <h3>Mrs. Smriti Jain</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/unknown.png" alt="profile1">
        </div>
        <h3>Mr. Anubhav Tripathi</h3>
      </div>
      <div class="profile1">
        <div class="pic">
          <img src="/images/cheif_guest/unknown.png" alt="profile1">
        </div>
        <h3>Mr. Suraj Jaiswal</h3>
      </div>
    </div>


    <!-- Organiser Section -->
    <div id="dialog" class="dialog">
      <div id="dialogContent" class="dialog-content">
        <span class="close" onclick="closeDialog()">&times;</span>
        <ul id="dialogMemberList"></ul>
      </div>
    </div>
    <!-- Organiser Section -->
    <!-- creating dialog box -->
    <div id="dialog" class="dialog">
      <div id="dialogContent" class="dialog-content">
        <span class="close" onclick="closeDialog()">&times;</span>
        <ul id="dialogMemberList"></ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="bg"> Check Our Organisers </div>
      <div class="fg">Check Our Organisers </div>
    </div>
    <h3 class="heading"></h3>
    <div class="person">
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/rohit.png" alt="profile2" />
        </div>
        <h3>Rohit Raj</h3>
        <h6>Head of Management</h6>
        <button onclick="openDialog('management')">View Members</button>
        <!-- <ul id="managementMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/Aaryan_pic.png" alt="profile2" />
        </div>
        <h3>Aaryan Raj</h3>
        <h6>Technical Head</h6>
        <button onclick="openDialog('technical')">View Members</button>
        <!-- <ul id="technicalMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/Riteek pic.png" alt="profile2" />
        </div>
        <h3>Riteek Tiwari</h3>
        <h6>Stage Management</h6>
        <button onclick="openDialog('stage')">View Members</button>
        <!-- <ul id="stageMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/jayantika.png" alt="profile2" />
        </div>
        <h3>Jayantika Pratik</h3>
        <h6>Performance Coordinator</h6>
        <button onclick="openDialog('performance')">View Members</button>
        <!-- <ul id="performanceMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/pavan.png" alt="profile2" />
        </div>
        <h3>Pavan Kumar</h3>
        <h6>Sound and Backstage</h6>
        <button onclick="openDialog('backstage')">View Members</button>
        <!-- <ul id="backstageMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/prince.png" alt="profile2" />
        </div>
        <h3>Prince Kumar</h3>
        <h6>Finance Management</h6>
        <button onclick="openDialog('finance')">View Members</button>
        <!-- <ul id="financeMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/rohikt.png" alt="profile2" />
        </div>
        <h3>Rohit Kumar</h3>
        <h6>Catering Management</h6>
        <button onclick="openDialog('catering')">View Members</button>
        <!-- <ul id="cateringMembers"></ul> -->
      </div>
      <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/muskan.png" alt="profile2" />
        </div>
        <h3>Muskan Kumari</h3>
        <h6>Decoration Head</h6>
        <button onclick="openDialog('decoration')">View Members</button>
      </div>
      <!-- <div class="profile2">
        <div class="pic">
          <img src="/images/organisers/muskan.png" alt="profile2" />
        </div>
      </div> -->
    </div>
  </main>

  <div class="event" id="programs">
    <div class="wrapper">
      <div class="bg">Event Schedule</div>
      <div class="fg">Event Schedule</div>
    </div>
    <h3 class="heading"></h3>
    <div class="cont-event">
      <ul>
        <li>
          <h3 class="title">Opening Ceremony</h3>
          <p>
            The Freshers Party will start with "Lamp Lighting" accompanied by an opening ceremony. After this, newcomers
            will set the stage on fire with their "Ramp Walk."
          </p>
          <span class="circle"></span>
          <span class="time">5-6pm</span>

        </li>
        <li>
          <h3 class="title">Musical Performance</h3>
          <p>
            Now we will witness some musical tones. And a beautiful poem will be recited. It's a delightful moment you
            wouldn't want to miss!
          </p>

          <span class="circle"></span>
          <span class="time">6-6:30pm</span>
        </li>
        <li>
          <h3 class="title">Comedy Hour</h3>
          <p>
            Get ready for some laughs with a stand-up comedy show. Prepare to be entertained with a series of hilarious
            acts that will keep you smiling throughout.
          </p>

          <span class="circle"></span>
          <span class="time">6:30-7pm</span>
        </li>
        <li>
          <h3 class="title">Dance and Drama</h3>
          <p>
            Setting the stage on fire with solo performances and group dances. Witness the passion and talent of our
            fresher participants as they captivate the audience with their mesmerizing moves and compelling
            storytelling.
          </p>

          <span class="circle"></span>
          <span class="time">7-8pm</span>
        </li>
        <li>
          <h3 class="title">Games Galore</h3>
          <p>
            A surprise awaits with a variety of exciting games! Engage in thrilling activities that promise fun and
            laughter for all. Don't miss out on the chance to join in the excitement!
          </p>

          <span class="circle"></span>
          <span class="time">8-8:30pm</span>
        </li>
        <li>
          <h3 class="title">Closing Event</h3>
          <p>
            The night will end with funny games and prize distribution. Concluding our festivities with joyous
            celebrations and recognition for outstanding performances. It's a finale you won't want to miss!
          </p>

          <span class="circle"></span>
          <span class="time">8:30-9pm</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <section class="main-section" id="contact">
    <div class="contact-container">
      <div class="contact-card" id="left-contact">
        <h3>Get In Touch</h3>
        <p>Feel free to contact us regarding any query of freshers party.</p>
        <button onclick="window.location.href = 'mailto:neofiesta2k23@gmail.com';">Say Hello</button>
      </div>
      <div class="contact-card" id="right-contact">
        <h3>Send Message</h3>
        <form name="submit-to-google-sheet">
          <input type="text" name="Name" placeholder="Your Name" required>
          <input type="email" name="Email" placeholder="Your Email" required>
          <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div id="msg"></div>
  </section>
  <!-- Script linking -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>