<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project X</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css"
        integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/stylesheets/photos.css">
</head>

<body>
    <div class="container">
        <div class="gallery">
            <% if (allPhotos && allPhotos.length> 0) { %>
                <% allPhotos.forEach(post=> { %>
                    <div class="grid__images">
                        <a href="<%= post.postImageUrl %>" data-lightbox="models" data-title="Photos">
                            <img src="<%= post.postImageUrl %>" alt="Photos">
                        </a>
                    </div>
                    <% }); %>
                        <% } %>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.js"
        integrity="sha512-oaWLach/xXzklmJDBjHkXngTCAkPch9YFqOSphnw590sy86CVEnAbcpw17QjkUGppGmVJojwqHmGO/7Xxx6HCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>