<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Gallary</title>
    <link rel="shortcut icon" href="../img/star.png" type="image/png" />
    <!-- Bootstrap CDN down below -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/photos2.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <input type="text" id="msg" placeholder="enter">
    <button id="sendBtn">send</button>
    <div class="container">
        <div class="jumbotron">
            <h1><i class="fa fa-camera-retro"></i> My Image Gallary</h1>
            <p>Just a Gallary Full of Beautiful Images...</p>
        </div>
        <!-- Upload -->


        <main class="main_full">
            <div class="container">
                <div class="panel">
                    <div class="button_outer">
                        <div class="btn_upload">
                            <input type="file" id="upload_file" name="upload_file" multiple />
                            Upload Image
                        </div>
                        <div class="processing_bar"></div>
                        <div class="success_box"></div>
                    </div>
                </div>
                <div class="error_msg"></div>
                <div class="uploaded_file_view" id="uploaded_view">
                    <!-- Uploaded images will be appended here -->
                </div>
            </div>
        </main>


        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img
                        src="https://images.unsplash.com/photo-1491245338813-c6832976196e?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=" />
                    <div class="button-container">
                        <button class="btn btn-primary btn-download">Download</button>
                        <button class="btn btn-success btn-like">
                            <i class="fa fa-heart"></i> Like
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img
                        src="https://images.unsplash.com/photo-1493799817216-4b57dda4229f?dpr=1&auto=compress,format&fit=crop&w=752&h=&q=80&cs=tinysrgb&crop=" />
                    <div class="button-container">
                        <button class="btn btn-primary btn-download">Download</button>
                        <button class="btn btn-success btn-like">
                            <i class="fa fa-heart"></i> Like
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery CDN -->
    <!-- <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script> -->
    <!-- JavaScript Bootstrap CDN -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="/javascript/photos.js"></script> -->

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const sendBtn = document.getElementById("sendBtn")
        const msg = document.getElementById("msg")
        sendBtn.addEventListener("click", (e) => {
            const msgI = msg.value;
            console.log(msgI)
            socket.emit("Message", msgI)
        })
        console.log("Socket connected:", socket.connected);
        // Listen for 'like' events
        var hel = "hello"

        socket.on("mesg", (msg) => { console.log(msg) })
        

    </script>
</body>

</html>