<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <div class="profile-card">
        <div class="avatar"><img src="<%= user.userDp %>" alt="profile-img"></div>
        <div class="salutation">
            <div class="name"><p><%= user.username %></p></div>
            <div class="designation"><%= user.name %></div>
        </div>
        <div class="options">
            <a class="button" href="/logout"><img src="/images/icons8-logout-30.png"></a>
            <a class="button"> <img src="/images/edit profile.gif"></a>
            <a class="button" href="/profile/moredetail"> <img src="/images/more.png"></a>
        </div>
    </div>
</body>
<script src="/javascripts/profile.js"></script>
</html>
