*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #262626;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.jumbotron {
    color: #2c3e50;
    background-color: #ecf0f1;
    border: 1px solid #d6dbdf;
    margin-top: 10px;
    margin: 50px 8%;
    padding: 30px 5%;
    border-radius: 10px;
}
.panel {
    margin: 5rem auto 4rem;
    width:80% ;
    text-align: center;
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.panel a {
    display: inline-block;
    background: #83ccd3;
    border-radius: 30px;
    text-align: center;
    height: 6rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

/* Gallery Styles */
.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 24px; */
    /* padding: 24px; */
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

/* Image container styles */
.image-container {
    width: 350px; /* Set fixed width for the image container */
    height: 250px; /* Set fixed height for the image container */
    margin-bottom: 22px;
    display: inline-block;
    overflow: hidden; 
    position: relative;
    background-color: #492467;
    object-fit: cover;
    
}

.image-container a {
    display: block;
    width: 100%; 
    height: 100%; 
    background-color: black;
    object-fit: cover; 
    overflow: hidden;
    position: relative;
}

.image-container .gallery-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    overflow: hidden;
    cursor: zoom-in;
}

.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6px 10px 3px;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.button-container h6 {
    color: #fff;
    margin: 0;
    padding-left: 15px;
}


@media (max-width: 1200px){
    .gallery{
        columns: 3;
    }
}
@media (max-width: 992px){
    .gallery{
        columns: 2;
    }
}
@media (max-width: 600px){
    .gallery{
        columns: 1;
    }
}