*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #262626;
}

.container{
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}


.gallery{
    columns: 4;
    column-gap: 16px;
}

.gallery img{
    width: 100%;
    border-radius: 5px;
}

.grid__images{
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}

@media (max-width: 1200px){
    .gallery{
        columns: 3;
    }
}
@media (max-width: 992px){
    .gallery{
        columns: 2;
    }
}
@media (max-width: 600px){
    .gallery{
        columns: 1;
    }
}