/* when the screen width is less than 1122px */
/* @media screen and (max-width: 1122px) {
    .header-section .top-header-section .mid{
        display: none;
    }
    
    .header-section .top-header-section .vertical-line{
        display: none;
    }
} */

/*  when the screen width is less than 1000px */
/* @media screen and (max-width:1000px){
    main .image-popup-window .preview-image{
        height: 60% !important;
    }
} */

/* when the screen width is less than 984px */
/* Gallery columns: 2 */
@media screen and (max-width:984px){
    main .gallery{
        columns: 2;
    }
    i{
        font-size: 25px;
    }
    .button-container h6{
        font-size: 10px;
    }
}

/* when the screen width is less than 760px */
/* @media screen and (max-width:760px){
    main .image-popup-window .preview-image{
        height: 48% !important;
    }
} */

/* when the screen width is less than 759px */
@media screen and (max-width: 759px){
    main  .editorial-title-details{
        height: 310px;
    }

    main  .other-categories{
        height: 310px;
    }

    main .other-categories .containing-div .title{
        font-size: 28px;
    }

    main  .other-categories .containing-div .content{
        font-size: 18px;
    }

    main  .editorial-title-details .containing-div .title{
        font-size: 28px;
    }

    main  .editorial-title-details .containing-div .content{
        font-size: 18px;
    }

    main  .editorial-title-details .containing-div .search-box{
        display: none;
    }

    main .about-button{
        height: 40px;
        width: 40px;
    }

    main .about-button img{
        width: 28px;
    }

    .header-section .top-header-section .branding{
        font-size: 28px;
    }

}

/* when the screen width is less than 748px */
@media screen and (max-width:748px){
    main .gallery{
        columns: 1;
    }

    i{
        font-size: 20px;
    }

    .button-container h6{
        font-size: 9px;
    }

    main .other-categories .containing-div .title{
        font-size: 28px;
    }

}

/* when the screen width is less than 615px */
@media screen and (max-width:615px){
    main  .editorial-title-details .containing-div{
        margin: auto;
        margin-right: 0px;
        margin-left: 20px;
        width: fit-content;
    }

    main  .editorial-title-details .containing-div .title{
        font-size: 24px;
    }

    main  .editorial-title-details .containing-div .content{
        font-size: 15px;
    }

    main  .other-categories .containing-div .title{
        font-size: 28px;
    }

    main  .other-categories .containing-div .content{
        font-size: 15px;
    }

    main  .other-categories .containing-div{
        margin: auto 20px;
        width: fit-content;
    }

    i{
        font-size: 22px;
    }
    .button-container h6{
        font-size: 9.5px;
    }

    main>.gallery {
        padding: 10px;
    }


}


/* when the screen width is less than 594px */
@media screen and (max-width:594px){
    .button-container h6{
        font-size: 9px;
    }

    main>.gallery {
        padding: 8px;
    }
}


/* when the screen width is less than 368px */
@media screen and (max-width:368px){

    i{
        font-size: 18px;
       
    }
    .button-container h6{
        font-size: 8px;
    }

    main>.gallery {
        padding: 5px;
    }
}